<!DOCTYPE html>
<html  lang="es" >

<!-- SCRIPTS DE MOVIMIENTO -->

<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="http://notoyontoy.site40.net/Js/jquery.infinitecarousel3.min.js"></script>
  <script type="text/javascript" src="http://notoyontoy.site40.net/Js/easing.js"></script>
  <script> 
        window.addEventListener?window.addEventListener('load',so_init,false):window.attachEvent('onload',so_init);
        var d=document, imgs = new Array(), zInterval = null, current=0, pause=false;
        function so_init() {
            if(!d.getElementById || !d.createElement)return;
            css = d.createElement('link');
            css.setAttribute('href','slideshow2.css');
            css.setAttribute('rel','stylesheet');
            css.setAttribute('type','text/css');
            d.getElementsByTagName('head')[0].appendChild(css);
            imgs = d.getElementById('rotator').getElementsByTagName('img');
            for(i=1;i<imgs.length;i++) imgs[i].xOpacity = 0;
            imgs[0].style.display = 'block';
            imgs[0].xOpacity = .99;
            setTimeout(so_xfade,3000); }
            function so_xfade() {
            cOpacity = imgs[current].xOpacity;
            nIndex = imgs[current+1]?current+1:0;
            nOpacity = imgs[nIndex].xOpacity;
            cOpacity-=.05;
            nOpacity+=.05;
            imgs[nIndex].style.display = 'block';
            imgs[current].xOpacity = cOpacity;
            imgs[nIndex].xOpacity = nOpacity;
            setOpacity(imgs[current]);
            setOpacity(imgs[nIndex]);
            if(cOpacity<=0) {
                imgs[current].style.display = 'none';
                current = nIndex;
                setTimeout(so_xfade,4000);}
            else {
                setTimeout(so_xfade,50);
            }
            function setOpacity(obj) {
                if(obj.xOpacity>.99) {
                    obj.xOpacity = .99;
                    return; }
            obj.style.opacity = obj.xOpacity;
            obj.style.MozOpacity = obj.xOpacity;
            obj.style.filter = 'alpha(opacity=' + (obj.xOpacity*100) + ')';
        }
    }
    </script>


    <head>
        <meta charset="UTF-8"/>
        <title>Carnet A Piso</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
        <link rel="stylesheet" href="{% static "css/newcss.css" %}"/>
        <!--<link rel="stylesheet" href="{% static "css/cover.css" %}"/>    -->
        
        <style>
            /* Prevents slides from flashing */
            #slides {
              display:none;
            }
        </style>
        
        <script>
            $(function(){
                $("#slides").slidesjs({
                    width: 940,
                    height: 528
                });
            });
        </script>
       
    </head>
    
    <body>
    
        <!-- BARRA SUPERIOR -->        
    
        <div id="topPage" class="bluty">
            <div class="container">
                <div class="col-md-6 topBanner">
                    <a href="/"><img alt="Logo" src="../static/img/logotipo.png" /></a>
                </div>
                <div id="rotator" class="col-md-3 topBanner2">
                    <a href="/"><img alt="Título1" src="../static/img/spidertitan2.png" /></a>
                    <a href="/"><img alt="Título2" src="../static/img/anime2.png" /></a>
                    <a href="/"><img alt="Título3" src="../static/img/asd2.png" /></a>    
                    <a href="/"><img alt="Título4" src="../static/img/cartoons.png" /></a>  
                    <a href="/"><img alt="Título4" src="../static/img/htf.png" /></a> 
                    <a href="/"><img alt="Título4" src="../static/img/puccagoku.png" /></a>
                </div>
    
            </div>
        </div>
    
        <!-- MENU -->
    
        <div class="container2" >
            <div class= "row" >  
                <div class="col-md-6">
                    <form class="navbar-form navbar-left" action="/Buscar/" role="search" method="get">
                        <div class="form-group">
                            <input type="text" name="busq" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default" >Buscar</button>
                    </form>
                </div>
                <div class="col-md-6"> 
                    <ul class="nav nav-pills nav-justified" role="tablist" >
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/Buscar/">Búsqueda Avanzada</a></li>
                        <li><a href="/Contactanos/">Contáctanos</a><form action="/contacto/" method="get"></form></li>
                        <!--<li><a href="/Registrar/">Registrarse</a></li>-->         
                    </ul>
                </div>
            </div>
        </div>
    

        <br>
        <!-- FORMULARIO DE CREACIÓN DE CUENTA -->
        <div class=" boxFormulario col-md-7">
            <section>
            <form id='formulario' method='POST' action='/Registrando/'>{% csrf_token %}
                <ul>
                {{form.as_ul}}
                </ul>
                <p>&nbsp;</p>
                <input type="submit" name="submit" value="Crear Usuario">
                <!--<a href="/"><button style="color:black"  type="submit" class="float" name="Cancelar">Cancelar</button></a>-->
                <a href="/"><input type="button" value="Cancelar " /></a>
            </form>
            </section>
        </div>
        <div class="welcome col-md-5">
            <a href="/"><img alt="bienvenidos" src="../static/img/9.gif" /></a>
        </div>
       
        <!--FOOTER--> 
    
        <div class="container3"  id="footerRegistro">
            <p class="text-muted">Carnet al Piso S.A.</p>
        </div>
        
    </body>

</html>